/* UTILITY*/


.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid grey;
}
.refresh {
    margin-top: 24px;
    margin-right: 12px;
    float: right;
}
/* ff */


.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 42px;
    padding-bottom: 42px;

}

.app__main{
    /*border-style: dotted; */

}


/* HEADER SECTION*/

.app__header{
    /*border-style: dotted; */
}

.header__title{
    font-size: 20px;
    font-weight: bold;

}

.header__subtitle{
    font-size: 16px;

}

.header__searchform{
    float: right;
}
.header__searchform__input{
    padding: 6px 16px;
    min-width: 300px;
    max-width: 100vw;
    font-size: 14px;
  }

.header__searchform__submit{
    margin-left: 8px;
  }
  
.header__searchform__submit:hover{
    margin-left: 8px;
    color:  cornflowerblue;
  }

/*FOLDER SECTION*/

.app__folder{
    /*border-style: dotted; */

    display: inline-block;
    min-width: 200px;
    max-width: 10%;
}

.app__folder__title{
    font-size: medium;
    padding-left: 8px;
    color: white;
    padding: 4px;
    background-color: gray;
}

.app__folder__add{
    padding-left: 8px;
}
.app__folder__add__text{
    padding-left: 8px;
}

.app__folder__list{
    font-size:small;
    font-weight: bold;
    margin-left: 14px;
}

.app__folder__list__item__hover:hover{
    font-size:small;
    font-weight: bold;
    padding-left: 8px;
    color: cornflowerblue;
}

.app__folder__selected__title {
    margin-left: 14px;
    font-size: medium;
}
/*THREAD SECTION*/

.app__thread__list{
    font-weight: bold;
    padding-left: 8px;
}

.app__thread__list__item__hover:hover{
    font-weight: bold;
    color: cornflowerblue;
}

.app__thread__list__item {
    display:inline-block;
    position:sticky;
    text-align: center;

}

.app__thread__list__item__name {
    float:left;
    font-size: small;
}

.app__thread__list__item__sender {
    font-size: smaller;
    font-weight:400;
    float:left;
}

.app__thread__list__item__date {
    float:right;
    font-size: small;

    
}

/*ATTACHMENT SECTION*/

.app__attachments{
    /*border-style: dotted; */
    float: right; 
    max-width: 70%;
    min-width: 70%;
}

.app__attachments__title{
    font-size: 32px;
    padding-left: 8px;
}

.app__attachments__quick__filters{
    margin-left: 24px;
    color: cornflowerblue;
}
.app__attachments__quick__filters:hover{
    margin-left: 24px;
    color: cornflowerblue;
    font-weight: bold;
}

.app__attachments__quick__filters__list{
    display: inline-flex;
}  

.app__attachments__quick__filters__list__title{
    display: inline-block;
    margin-left: 8px;

}


/*TOOLBAR*/

.app__toolbar__option__title{
    display: inline-block;
    font-size: large;
    margin-left: 8px;

}
.app__toolbar__option__title:hover{
    display: inline-block;
    font-size: large;
    margin-left: 8px;
    color: cornflowerblue;
}

.app__toolbar__option__title:active{
    display: inline-block;
    font-size: large;
    margin-left: 8px;
    font-weight: bold;
    color: black;
}